@model Tablator.Presentation.Web.UI.Controllers.TabViewModel


@{
    Layout = "_Layout";
    ViewBag.Title = "Tablator - Tab";
}

<h1>Tablator</h1>


@Html.Raw(Model.SVGContent)

@section Scripts{

    <script type="text/javascript">
           $(document).ready(function () {

               alert(window.screen.width);

           });
    </script>

    <script src="~/js/tab/get.js"></script>
}