@model Tablator.BusinessModel.HierarchyModel
@{
}

<li>
    @Model.Name
    @if (Model.Descendance != null)
    {
        <ul>
            @foreach (Tablator.BusinessModel.HierarchyModel h in Model.Descendance)
            {
                await Html.RenderPartialAsync("_HierarchyNav", h);
            }
        </ul>
    }
    @if(Model.Tablatures != null && Model.Tablatures.Count > 0)
    {
        <ul>
            @foreach(HierarchyTabReferenceModel tab in Model.Tablatures)
            {
                <li>@tab.Name</li>

            }
        </ul>

    }
</li>