@model Tablator.Presentation.Web.UI.Models.TabViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Tablator - Tab";
}

<h1>Tablator</h1>

@section Scripts{

       <script type="text/javascript">
           $(document).ready(function () {

               alert(window.screen.width);

           });
       </script>
    
        <script src="~/Scripts/tab/get.js"></script>
}